<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
  </head>
  <body>
    <form>
      Correo:<input type="email" placeholder="Escribe tu correo aquí."/> <br><br>
      Teléfono:<input type="tel" size="20" autofocus/> <br><br>
      Texto:<input type="text" value="agrega comentarios"/> <br><br>
      Número:<input type="text"/> <br><br>
      <input type="button" value="enviar">
      </form>
  </body>
</html>